body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
/* Basic styling for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.logo img {
    width: 100px;
    height: auto;
    visibility: visible;
}
 
nav ul {
    list-style: none;
    display: flex;
}
 
nav li {
    margin-right: 20px;
}
 
nav a {
    text-decoration: none;
    color: #fff;
}

.search-box {
    display: none;
    visibility: hidden;
}
 
.search-box input[type="text"] {
    display: none;
    visibility: hidden;
}

.search-box button {
    display: none;
    visibility: hidden;
}

.photo-section {
    display: none;
    visibility: hidden;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.footer-logo{
    display: none;
    visibility: hidden;
}

@media screen and (min-width: 576px) 
{

    .footer-logo{
        width: 80px;
        height: auto;
        display: block;
        visibility: visible;
    }
    .photo-section {
 
        display: flex;
        align-items: flex-start;
        padding: 20px;
        visibility: visible;
    }
    
    .articles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .search-box {
        display: flex;
        visibility: visible;
    }
     
    .search-box input[type="text"] {
        padding: 10px;
        border: none;
        display: block ;
        visibility: visible;
    }

    .search-box button {
        background-color: #ff6600;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: block ;
        visibility: visible;
    }
}


 

/* Styling for the banner */
.banner {
    background-color: #ff6600;
    text-align: center;
    padding: 40px;
    color: white;
}
 
.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
 
/* Styling for the photo section */

 
.large-photo {
    margin: 0;
    background-color: thistle;
    padding: 20px;
    width: 100%;
    height: auto;
}
 
.large-photo img {
 
    width: 100%;
    height: auto;
}
 
/* Styling for the articles */

 
article {
    padding: 20px;
    background-color: rgb(233, 233, 233);
    flex-basis: calc(50% - 50px);
    margin-bottom: 20px;
}
 
article img {
    max-width: 100%;
    height: auto;
}
 
/* Styling for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
 
.social-media-icons a {
    margin-left: 10px;
    color: white;
}