.grid {
  width: 800px;
  height: 800px;
  display: grid;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  grid-template-columns: 50% auto auto auto;
  grid-template-rows: 70% 30%;
}

article{
  margin: 10px;
  background-color: blue;
}
